<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>Potion Collector</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/lib/bootswatch/cyborg/bootstrap.css">
</head>
<body>
    <div class="container-fluid">
        <div class="content">
            <div class="col-md-12">
                <!-- START NAVBAR -->
                <nav class="navbar navbar-default">
                  <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="/">Potion Collector</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Potions<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="/potions/list">List potions</a></li>
                            <li><a href="/potions/new">Add new potion</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/potions/all">Overview all potions</a></li>
                          </ul>
                        </li>
                      </ul>
                      
                      <ul class="nav navbar-nav navbar-right">
                        {{#if loggedIn}}
                        <li><a href="/logout">Logout</a></li>
                        {{else}}
                        <li><a href="/login">Login</a></li>
                        <li><a href="/login/signup">Sign up</a></li>
                        {{/if}}
                      </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container-fluid -->
                </nav>

                {{{body}}}
                
            </div>
        </div>
    </div>
    
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>