<div class="jumbotron">
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        Succesful upload!
    </div>

    <div class="page-header">
        <h1>My potions</h1>
    </div>

    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Name</th>
                <th>Effect</th>
                <th>Ingredients</th>
                <th>Date</th>
                <th>Status</th>
            </tr>   
        </thead>
        <tbody>
            <tr>
                <td>Cure for Boils</td>
                <td>Cures scares and pain caused by boils.</td>
                <td>Porcupine Quills, Snake Fangs, Horned Slugs</td>
                <td>2015.09.26. 19:50</td>
                <td><span class="label label-primary">New</span></td>
            </tr>
            <tr>
                <td>Polyjuice Potion</td>
                <td>Changes you to look like someone else.</td>
                <td>Fluxweed, Leeches, Knotgrass, Bicorn Horn, Boomslang Skin, Lacewing flies, some hair or nail piece of the "chosen one"</td>
                <td>2015.09.16. 13:58</td>
                <td><span class="label label-info">Read</span></td>
            </tr>
            <tr>
                <td>Sleeping Draught</td>
                <td>Temporarily sends you to sleep.</td>
                <td>Lavender, Flobberworm Mucus, Valerian Sprigs</td>
                <td>2015.09.06. 13:58</td>
                <td><span class="label label-danger">Dropped</span></td>
            </tr>
            <tr>
                <td>Antidote to Common Poisons</td>
                <td>It counteracts ordinary poisons, such as creature bites and stings.</td>
                <td>Bezoar, Mistletoe Berries, Unicorn Horn</td>
                <td>2015.09.06. 10:08</td>
                <td><span class="label label-success">Accepted</span></td>
            </tr>
            <tr>
                <td>Wideeye or Awakening Potion</td>
                <td>Prevents sleep, revives from drugging and concussion.</td>
                <td>Snake Fangs, Wolfsbane, Dried Billywig Stings</td>
                <td>2015.09.01. 11:11</td>
                <td><span class="label label-warning">Pending</span></td>
            </tr>
        </tbody>
    </table>

    <p><a href="/potions/new" class="btn btn-default">Add new potion recipe</a></p>
</div>