<div class="jumbotron">
    {{#each errorMessages}}
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{this}}
    </div>
    {{/each}}
    <div class="page-header">
        <h1>Sign Up for Potion Collector</h1>
    </div>

    <form class="form-horizontal" method="post">
        <fieldset>
            <div class="form-group">
                <label for="username" class="col-lg-2 control-label">Username</label>
                <div class="col-md-6 col-lg-6">
                    <input class="form-control" id="username" name="username" placeholder="pl. FabulousUser16" type="text">
                    <span class="help-block">Required</span>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-lg-2 control-label">E-mail</label>
                <div class="col-md-6 col-lg-6">
                    <input class="form-control" id="email" name="email" placeholder="pl. fabuloususer16@gmail.com" type="email">
                    <span class="help-block">Required</span>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-lg-2 control-label">Password</label>
                <div class="col-md-6 col-lg-6">
                    <input class="form-control" id="password" name="password" type="password">
                    <span class="help-block">Required</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 col-lg-6 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>             
</div>